<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs\nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="debug" fileName="logs\debug.log"
        layout="${longdate} ${logger} ${level:uppercase=true:padding=5} ${message} ${exception} url: ${aspnet-request-url}" />

    <target xsi:type="Console" name="console"
      layout="${longdate} ${logger} ${level:uppercase=true:padding=5} ${message} ${exception} url: ${aspnet-request-url}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Warning" final="true" />
    <logger name="*" minlevel="Trace" writeTo="debug" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
