#navbar ul {
  margin-left: -15px;
}

.navbar-inverse {
  background-color: #004880;
  border-color: #002b4d;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a {
  font-weight: 100;
  color: #e3ebf1;
}

.navbar-nav > li > a {
  line-height: 22px;
}


.navbar-inverse .navbar-nav a.active {
  color: #e3ebf1;
}

.navbar-inverse .navbar-nav a.active,
.navbar-inverse .navbar-nav a.active:hover,
.navbar-inverse .navbar-nav a.active:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
}

.navbar-inverse .navbar-nav a.active span {
  padding: 5px 0;
  border-bottom: 1px solid #fff;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.search-container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.search-container .form-control {
  border-radius: 0;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  color: #337ab7;
}

.link-button:hover,
.link-button:focus {
  outline: none;
  text-decoration: underline;
  color: #23527c;
}

.footer {
  background-color: #002440;
  color: #e3ebf1;
  font-size: 1em;
  display: table;
  height: 1px;
  width: 100%;
}

.footer .footer-heading {
  display: block;
  margin-bottom: 11px;
  font-size: 20px;
}

.footer .container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #002440;
}

.footer .footer-release-info {
  padding-left: 0;
  font-size: .85em;
  margin-top: 20px;
}

.footer a {
  color: #e3ebf1;
}
