.display-package {
  padding-top: 30px;
}

.display-package .package-icon {
  margin-top: 20px;
}

.install-script:before {
  content: "> ";
}

.install-script {
  margin: 10px 0 10px;
  color: #fff;
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  background-color: #002440;
  border-color: #002440;
  border-style: solid;
  border-width: 1px;
}