.search-result {
  padding-top: 20px;
}

.info {
  color: #666;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info span:not(:first-child){
  padding-left: 10px;
}